<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar border-end">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column small">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('shipping.all') }}">Отгрузки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.all_profile') }}">Админы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('employee.all_employee') }}">Сотрудники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.profile') }}">{{ current_user.login }}</a>
            </li>
        </ul>
    </div>
</nav>
